// Local/small-machine test config. Layer on top of an engine profile:

//   nextflow run main.nf -profile docker -c test/test.config ...

// This is for an 8-CPU / 30GB machine (leaves headroom for the OS).

process {
    executor = 'local'
    errorStrategy = { task.exitStatus in ((130..145) + 104 + 175 + 247 + 250) ? 'retry' : 'finish' }
    maxRetries = 2
    withLabel: small_job                { cpus = 1; memory = 2.GB }
    withLabel: demultiplexing_fastq     { cpus = 4; memory = 12.GB }
    withLabel: freebayes                { cpus = 2; memory = 12.GB }
    withLabel: cpu_low_mem              { cpus = 4; memory = 12.GB }
    withLabel: variant_calling_scatter  { cpus = 2; memory = 12.GB }
    withLabel: variant_calling_high_mem { cpus = 4; memory = 12.GB }
    withLabel: star_align               { cpus = 6; memory = 20.GB }
    withLabel: lazy_polars              { cpus = 6; memory = 32.GB }

}

executor {
    cpus   = 7
    memory = '48 GB'

}
