*.html
run_nextflow.sh
.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
null/
log/
reports/
testme.sh
.nf-test*

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json

.latch*
latch_metadata
wf
latch.config
version

# Obsidian and other irrelevant documents
.myworkdocs/*
*/*scheduled_tasks*
*amplicon_ref*
comparison_results/*
results_wothreport/*
*results*/*
