config {    
    testsDir "tests"
    //workDir ".nf-test"
    configFile "tests/config/nextflow-test.config"
    profile ""
    workDir System.getenv("NFT_WORKDIR") ?: ".nf-test"
    withTrace true
    autoSort true

    plugins {
        load "nft-bam@0.6.1"
        load "nft-vcf@1.0.5"
        load "nft-utils@1.0.0"
    }
}
