nextflow.preview.output = true

process {
    cpus   = 2
    memory = '2.GB'
    time   = '1.h'
}

profiles {
    docker {
        docker.enabled = true
        docker.runOptions = "-u \$(id -u):\$(id -g)"

        process {
            cpus   = 4
            memory = '14.GB'
            time   = '1.h'

            resourceLimits = [
                cpus: 4,
                memory: '14.GB'
            ]
        }
    }

    local {
        docker.enabled = true
        docker.runOptions = "-u \$(id -u):\$(id -g)"

        process {
            
            withName: 'freebayes' {
                ext.args = '--ploidy 2 --min-alternate-fraction 0.1 --min-alternate-count 20 --min-coverage 0 --limit-coverage 1000000'
            }

            cpus   = 2
            memory = '2.GB'
            time   = '1.h'
        }
    }
}

params {
    outdir = "results"
    experiment_id = "test_run"
    version = 'dev'

    help = false
    protocol = 'CB_UMI_Complex'
    solofeature = "GeneFull"
    outdir = 'results'
    trimming_length = 100
    experiment_id = null

    // variant calling options (mirror nextflow_schema.json defaults)
    run_variant_calling = true
    variant_callers = 'freebayes,bcftools,gatkhc,vardict'
    amplicon_bed = null
}

manifest {
    name        = 'yout-pipeline-name'
    version     = 'v0.5.0'
    description = 'description'
    author      = 'name'
}
